<div class="checkout-form">
  <div class="card-grp">
  <h2>Card Number*</h2>
  <input type="text" id="first" size="4" moveNextByMaxLength (keyup)="keytab($event)" maxlength="4" minlength="0"/>
  <input type="text" id="second" size="4" moveNextByMaxLength (keyup)="keytab($event)" maxlength="4" minlength="0"/>
  <input type="text" id="third" size="4"moveNextByMaxLength (keyup)="keytab($event)" maxlength="4" minlength="0" />
  <input type="text" id="forth" size="4" maxlength="4"  minlength="0" />

  </div>

  </div>

